--index-url https://pypi.ampl.com
--extra-index-url https://pypi.org/simple
ampl_module_base
ampl_module_highs
numpy
pandas
matplotlib
amplpy
pvlib
geopandas
pyogrio
pyproj
shapely
pyarrow
gdown>=5.2,<6
py7zr>=0.22,<1
streamlit
streamlit-folium
requests
